:root {
  accent-color: yellow;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  background: linear-gradient(to top, #001, #000);
  color: white;
  margin: 0;
  padding: 2rem;
  font: 100%/1.3 sans-serif;
  height: 100%;
  width: 100%;
  position: relative;
}

[hidden] {
  display: none;
}

button {
  padding: 1rem 2rem;
  border: none;
  color: hsl(40,50%,25%);
  background-color: yellow;
  border: none;
  border-radius: 0.75rem;
  font: 1.25rem/1.3 sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 0 0.125rem 0 0.25rem hsl(40,50%,50%);
}

sejl-intro, 
sejl-outro {
  position: fixed;
  z-index: 20;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  height: 90vh;
  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: hsla(0,0%,0%,0.85);
}

sejl-question {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

sejl-question img {
  width: 100%;
  height: auto;
  max-width: 20rem;
  margin: 4rem 0;
}

sejl-question .input-answer {
  display: block;
  padding: 1rem;
  text-align: left;
}

sejl-question .input-answer input {
  margin-right: 0.5rem;
}

sejl-question sejl-right-or-wrong {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: black;
  text-align: center;
  z-index: 5;
}

sejl-right-or-wrong[verdict="right"] {
  background-color: green;
}

sejl-right-or-wrong[verdict="wrong"] {
  background-color: red;
}

sejl-point-track {
  text-align: center;
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
}

sejl-point-track .notch-right,
sejl-point-track .notch-wrong {
  display: inline-block;
  width: 0.25rem;
  height: 1rem;
  background-color: green;
  margin: 0 0.125rem;
}

sejl-point-track .notch-wrong {
  background-color: red;
}

sejl-outro #outro-text {
  position: fixed;
  bottom: 50%;
  left: 0;
  right: 0;
}
